@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutSite.cshtml";
}

<h1>Meu Álbum</h1>

<div class="meualbum">
    <div class="titlealbum">
        <ul>
            <li><p>Titulo do Álbum:</p></li>
            <li><p>Lorem ipsum dolor sit amet</p></li>
        </ul>
    </div>
    <div class="fotos-album">
        <ul>
            <li>
                <p>Foto 01</p>
                <img src="img/eu1.jpg">
            </li>
            <li>
                <p>Foto 02</p>
                <img src="img/eu2.jpg">
            </li>
            <li>
                <p>Foto 03</p>
                <img src="img/eu3.jpg">
            </li>
            <li>
                <p>Foto 04</p>
                <img src="img/eu1.jpg">
            </li>
            <li>
                <p>Foto 05</p>
                <img src="img/eu2.jpg">
            </li>
            <li>
                <p>Foto 06</p>
                <img src="img/eu3.jpg">
            </li>
        </ul>
    </div>
    <div class="editaralbum">
        <a href="Album\Edit" class="btn-editar"><i class="icon-edit"></i> Editar</a>
    </div>
</div>
<div class="clear"></div>
<div class="voltar100"><a class="btn-voltar" href='javascript:history.back(1)'>Voltar</a></div>
