
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/LayoutAdm.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Novo Questionário</h3>
    </div>

    <form action="~/Questionario/Cadastrar" method="post" class="form-horizontal" role="form">

        <div class="panel-body">

            <div class="form-group">
                <label for="Cidade" class="col-sm-2 control-label">Ativo</label>
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Titulo" class="col-sm-2 control-label">Título</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Titulo" placeholder="Enter título">
                </div>
            </div>

            <div class="form-group">
                <label for="Resumo" class="col-sm-2 control-label">Resumo</label>
                <div class="col-sm-4">
                    <textarea name="Resumo" cols="" rows="2" class="form-control" maxlength="80"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="Descricao" class="col-sm-2 control-label">Descrição</label>
                <div class="col-sm-4">
                    <textarea name="Descricao" rows="10" class="form-control" maxlength="400"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                            Eu aceito os termos e condições.
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer" style="overflow:hidden;text-align:right;">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success btn-sm">Cadastrar</button>
                    <a href="~/Projeto" class="btn btn-default btn-sm">Cancelar</a>
                </div>
            </div>
        </div>

    </form>
</div>